In [1]:
#loading the data: 
import numpy as np 
import pandas as pd 
import sqlite3

In [2]:
conn =sqlite3.connect("./database.sqlite")

cursor = conn.cursor()

In [3]:
table_match = pd.read_sql('select * from Match',conn)
table_player = pd.read_sql('select * from Player',conn)
table_player_attribute = pd.read_sql('select * from Player_Attributes',conn)
table_league = pd.read_sql('select * from League',conn)
table_country = pd.read_sql('select * from Country',conn)
table_team = pd.read_sql('select * from Team',conn)
table_team_attribute = pd.read_sql('select * from Team_Attributes',conn)

In [4]:



database = './database.sqlite' 

# sqlite3.connect() Creates a connection object
conn = sqlite3.connect(database)
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

In [5]:
match= pd.read_sql("""SELECT match_api_id,
                   Country.name as country_name,
                   League.name as league_name,
                   HomeTeam.team_long_name as HomeTeam_long_name,
                   HomeTeam.team_short_name as HomeTeam_short_name ,
                   AwayTeam.team_long_name as AwayTeam_long_name ,
                   AwayTeam.team_short_name as AwayTeam_short_name,
                   season, stage, date, home_team_api_id
                   , away_team_api_id, 
                   home_team_goal,
                   away_team_goal
                   FROM Match
                   JOIN Country ON Match.country_id= Country.id
                   JOIN League ON Match.league_id= League.id
                   JOIN Team HomeTeam on Match.home_team_api_id=HomeTeam.team_api_id 
                   JOIN Team AwayTeam on Match.away_team_api_id=AwayTeam.team_api_id;""", conn)
match

,match_api_id,country_name,league_name,HomeTeam_long_name,HomeTeam_short_name,AwayTeam_long_name,AwayTeam_short_name,season,stage,date,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
0,492473,Belgium,Belgium Jupiler League,KRC Genk,GEN,Beerschot AC,BAC,2008/2009,1,2008-08-17 00:00:00,9987,9993,1,1
1,492474,Belgium,Belgium Jupiler League,SV Zulte-Waregem,ZUL,Sporting Lokeren,LOK,2008/2009,1,2008-08-16 00:00:00,10000,9994,0,0
2,492475,Belgium,Belgium Jupiler League,KSV Cercle Brugge,CEB,RSC Anderlecht,AND,2008/2009,1,2008-08-16 00:00:00,9984,8635,0,3
3,492476,Belgium,Belgium Jupiler League,KAA Gent,GEN,RAEC Mons,MON,2008/2009,1,2008-08-17 00:00:00,9991,9998,5,0
4,492477,Belgium,Belgium Jupiler League,FCV Dender EH,DEN,Standard de Liège,STL,2008/2009,1,2008-08-16 00:00:00,7947,9985,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,1992091,Switzerland,Switzerland Super League,FC St. Gallen,GAL,FC Thun,THU,2015/2016,9,2015-09-22 00:00:00,10190,10191,1,0
25975,1992092,Switzerland,Switzerland Super League,FC Vaduz,VAD,FC Luzern,LUZ,2015/2016,9,2015-09-23 00:00:00,9824,10199,1,2
25976,1992093,Switzerland,Switzerland Super League,Grasshopper Club Zürich,GRA,FC Sion,SIO,2015/2016,9,2015-09-23 00:00:00,9956,10179,2,0
25977,1992094,Switzerland,Switzerland Super League,Lugano,LUG,FC Zürich,ZUR,2015/2016,9,2015-09-22 00:00:00,7896,10243,0,0
25978,1992095,Switzerland,Switzerland Super League,BSC Young Boys,YB,FC Basel,BAS,2015/2016,9,2015-09-23 00:00:00,10192,9931,4,3

In [6]:
home_teams = match.groupby('HomeTeam_long_name')[['home_team_goal','away_team_goal']].sum()

In [7]:
team_statos = pd.read_csv('./teams_stats.csv')

In [8]:
team_statos

           HomeTeam_long_name  home_team_goal  away_team_goal
0        1. FC Kaiserslautern              37              47
1                  1. FC Köln             116             139
2              1. FC Nürnberg             108             118
3             1. FSV Mainz 05             171             129
4                  AC Ajaccio              64              77
..                        ...             ...             ...
291      Xerez Club Deportivo              20              29
292            Zagłębie Lubin             116             108
293         Zawisza Bydgoszcz              43              38
294  Évian Thonon Gaillard FC             105             103
295             Śląsk Wrocław             176             107

[296 rows x 3 columns]

In [9]:
team_statos['total_goals'] = team_statos['away_team_goal']+ team_statos['home_team_goal']

In [10]:
team_statos[team_statos['HomeTeam_long_name'] == 'FC Barcelona']

   HomeTeam_long_name  home_team_goal  away_team_goal  total_goals
75       FC Barcelona             495             101          596

In [11]:

top_10_teams = team_statos.sort_values('total_goals' ,ascending=False).head(10)
top_home_scorers = top_10_teams.sort_values('home_team_goal' ,ascending=False,ignore_index=True)[['HomeTeam_long_name','home_team_goal']]

top_away_scorers = top_10_teams.sort_values('away_team_goal' ,ascending=False,ignore_index=True)[['HomeTeam_long_name','away_team_goal']]
top_away_scorers.columns = ['AwayTeam_long_name','away_team_goal']
top_away_scorers

  AwayTeam_long_name  away_team_goal
0      SC Heerenveen             202
1     BSC Young Boys             166
2     Real Madrid CF             147
3            Chelsea             129
4           FC Basel             126
5                PSV             126
6    Manchester City             125
7       FC Barcelona             101
8   FC Bayern Munich              96
9             Celtic              88

In [12]:
import matplotlib.pyplot as plt 
def plot():
    fig, axes = plt.subplots(1, 2, figsize=(14, 10))
    fig.suptitle("Physical Attributes vs Performance", fontsize=18, weight='bold')
    
    # Scatter Plot: HomeTeams vs Goals
    axes[0].barh(top_home_scorers['HomeTeam_long_name'], top_home_scorers['home_team_goal'], alpha=0.6, color='blue')
    axes[0].set_title("HomeTeams vs Goals", fontsize=14)
    axes[0].set_xlabel("Goals", fontsize=12)
    axes[0].set_ylabel("Teams", fontsize=12)
    axes[0].grid(True, linestyle='--', alpha=0.7)
    
    
    # Scatter Plot: HomeTeams vs Goals
    axes[1].barh(top_away_scorers['AwayTeam_long_name'], top_away_scorers['away_team_goal'], alpha=0.6, color='green')
    axes[1].set_title("AwayTeams vs Goals", fontsize=14)
    axes[1].set_xlabel("Goals", fontsize=12)
    axes[1].set_ylabel("Teams", fontsize=12)
    axes[1].grid(True, linestyle='--', alpha=0.7)
    
    plt.tight_layout(rect=[0, 0, 1, 0.96])
    plt.show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\Users\Youcode\Desktop\Analysis_modeling_ml_soccer_project\.venv\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
  File "C:\Users\Youcode\AppData\Local\Temp\ipykernel_26268\1758871214.py", line 1, in <module>
    import matplotlib.pyplot as plt
  File "c:\Users\Youcode\Desktop\Analysis_modeling_ml_soccer_project\.venv\Lib\site-packages\matplotlib\__init__.py", line 1296, in <module>
    rcParams['backend'] = os.environ.get('MPLBACKEND')
    ~~~~~~~~^^^^^^^^^^^
  File "c:\Users\Youcode\Desktop\Analysis_modeling_ml_soccer_project\.venv\Lib\site-packages\matplotlib\__init__.py", line 771, in __setitem__
    raise ValueError(f"Key {key}: {ve}") from None
ValueError: Key backend: 'module://matplotlib_inline.backend_inline' is not a valid value for backend; supported values are ['gtk3agg', 'gtk3cairo', 'gtk4agg', 'gtk4cairo', 'macosx', 'nbagg', 'notebook', 'qtagg', 'qtcairo', 'qt5agg', 'qt5cairo', 'tkagg', 'tkcairo', 'webagg', 'wx', 'wxagg', 'wxcairo', 'agg', 'cairo', 'pdf', 'pgf', 'ps', 'svg', 'template']

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\Youcode\Desktop\Analysis_modeling_ml_soccer_project\.venv\Lib\site-packages\pygments\styles\__init__.py", line 45, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\Youcode\Desktop\Analysis_modeling_ml_soccer_project\.venv\Lib\site-packages\IPython\core\interactiveshell.py", line 2168, in showtraceback
  File "c:\Users\Youcode\Desktop\Analysis_modeling_ml_soccer_project\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1457, in structured_traceback
  File "c:\Users\Youcode\Desktop\Analysis_modeling_ml_soccer_project\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1348, in structured_traceback
  File "c:\Users\Youcode\Desktop\Analysis_modeling_ml_soccer_project\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1195, in structured_traceback
  File "c:\Users\Youcode\Desktop\Analysis_modeling_ml_soccer_project\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1085, in format_exception_as_a_whole
  File "c:\Users\Youcode\Desktop\Analysis_modeling_ml_soccer_project\.venv\Lib\site-packages\IPython\core\ultratb.py", line 1136, in get_records
  File "c:\Users\Youcode\Desktop\Analysis_modeling_ml_soccer_project\.venv\Lib\site-packages\pygments\styles\__init__.py", line 47, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'pygments.styles.default', though it should be builtin.

In [48]:
plot()

NameError: name 'plt' is not defined